//
// Contact page styles
//---------------------------------------------------------

body.contact

    .contactSuccess
        display none
        text-align center
        background $cream-lighter
        margin 0 auto
        padding 20px 20px 0
        margin-bottom 10px

        img
            display inline-block
            max-width 100%
            margin-top 30px

    .contactFormContainer
        background $cream-lighter
        margin 0 auto
        padding 20px

    .outline
        margin-top 4px

        li
            margin-bottom 0

    .noFavorites
        display none

    .favoritesList
        width 75%
        float left
        list-style none
        background $cream-light
        margin 0
        padding 14px 10px 6px

        li
            position relative
            display inline-block
            width 31.25%
            height 105px
            margin 0 1% 2%
            vertical-align top
            overflow hidden

            img
                width 100%

    .button--contactSubmit
        position relative

    .spinner
        display none
        position absolute
        top 7px
        margin-left 10px

        &.show
            display inline-block

    // +below(400px)
    //     .contactSuccess
    //         padding 15px 5px
