//
// Contact page styles
//---------------------------------------------------------

body.contact

    .contactFormContainer
        width 50%
        background $cream-lighter
        margin 0 auto
        padding 20px

    .outline
        margin-top 4px

        li
            margin-bottom 0

    .noFavorites
        display none

    .favoritesList
        width 75%
        float left
        list-style none
        background $cream-light
        margin 0
        padding 14px 10px 6px

        li
            position relative
            display inline-block
            width 31.25%
            height 100px
            margin 0 1% 2%
            vertical-align top
            overflow hidden

            img
                width 100%
