//
// FAQ page styles
//---------------------------------------------------------

body.faq

    .questions
        width 50%
        margin 0 auto

        p.question
            color $goldenrod
            border-bottom 3px solid $cream-lighter
            margin-bottom 5px
            padding-bottom 2px

        article
            margin-bottom 30px