//
// FAQ page styles
//---------------------------------------------------------

body.faq

    .questions
        width 50%
        margin 0 auto

        p.question
            color $goldenrod

        article
            margin-bottom 30px
