//
// Tack page styles
//---------------------------------------------------------

body.tack

    .page-wrap > .center
        overflow hidden


    // Utilities area

    .utilities
        float left
        width 25%
        background $cream-lighter
        padding 20px

        p
            color $beige-dark


    // Color Filters

    .colorFilters
        overflow hidden
        text-align center
        border-bottom 2px solid $cream-light
        margin-bottom 20px
        padding-bottom 20px

        > *
            vertical-align top

        p
            display inline-block
            width 100%
            text-align left
            font-size 15px
            padding 0 15px 10px 0

        ul
            display inline-block
            margin 0
            padding 0
            overflow hidden

            li
                display block
                float left
                font-size 12px
                text-transform uppercase
                color $cranberry-light
                border 1px solid #dcd4cc
                margin 0 2px 4px
                padding 7px 12px
                cursor pointer
                transition all .2s

                &:hover
                    border 1px solid $cranberry-light
                    transition all .2s

                &.active
                    border 1px solid $cranberry-light


    // My Favorites

    .favorites
        border-bottom 2px solid $cream-light
        margin-bottom 25px
        padding-bottom 30px

        .button
            width 100%
            text-align center

    .favoritesList
        list-style none
        background $cream-light
        margin 0 0 20px
        padding 10px 10px 8px

        li
            position relative
            display inline-block
            width 48%
            height 100px
            margin 0 1% 2%
            vertical-align top
            overflow hidden

            img
                width 100%

        li.noFavoritesPrompt
            display none
            width 100%
            text-align center

        &.noFavorites
            .noFavoritesPrompt
                display block
                height auto

    .misc
        background url(../img/global/emphasisFlourish.png) 0 center no-repeat
        margin-top 40px
        padding-left 40px

    .tackContainer
        float right
        width 75%
        overflow hidden
        margin 0 -1.25%

        > div
            display none
            position relative
            vertical-align top
            width 22.5%
            height 177px
            margin 0 1.25% 21px
            overflow hidden

            a
                display block

            img
                width 100%
                background $cranberry
