//
// Tack page styles
//---------------------------------------------------------

body.tack

    .page-wrap > .center
        overflow hidden


    // Utilities area

    .utilities
        float left
        width 25%
        background $cream-lighter
        padding 20px

        > article
            border-bottom 2px solid $cream-light
            margin-bottom 15px
            padding-bottom 25px

        > article:last-child
            border-bottom none
            margin-bottom 0
            padding-bottom 0

        p
            color $beige-dark


    // Color Filters

    .colorFilters
        overflow hidden
        text-align center

        > *
            vertical-align top

        p
            display inline-block
            width 100%
            text-align left
            font-size 15px
            padding 0 15px 10px 0


    // My Favorites

    .favorites
        border-bottom 2px solid $cream-light
        // margin-bottom 25px
        // padding-bottom 30px

        .button
            width 100%
            text-align center

    .favoritesList
        list-style none
        background $cream-light
        margin 0 0 20px
        padding 10px 10px 6px

        li
            position relative
            display inline-block
            width 48%
            height 100px
            margin 0 1% 2%
            vertical-align top
            overflow hidden

            img
                width 100%

        li.noFavoritesPrompt
            display none
            width 100%
            text-align center

        &.noFavorites
            .noFavoritesPrompt
                display block
                height auto

    .pricing
        padding-top 8px

        p
            margin-bottom 15px

        p:last-child
            margin-bottom 0


    // Tack grid

    .tackLoading
        position absolute
        left 50%
        display none
        width 200px
        text-align center
        background rgba(255, 255, 255, .9)
        border 1px solid $cream-light
        margin-top 200px
        margin-left -100px
        padding 20px
        z-index 9999

        &.show
            display block

    .tackContainer
        position relative
        float right
        width 75%
        min-height 400px
        overflow hidden
        margin 0 -1.25%

    .tackItem
        display none
        position relative
        vertical-align top
        width 22.5%
        height 177px
        margin 0 1.25% 2.5%
        overflow hidden

        a
            display block

        img
            width 100%
            background $cranberry

    .meta
        position absolute
        top 0
        left 0
        right 0
        min-height 40px
        background rgba(0, 0, 0, .6)
        padding 12px 12px
        opacity 0

    .price
        font-size 15px
        color $white

    .tackItem:hover .meta
        opacity 1
        transition opacity .2s
    
    +below(600px)
        
        .utilities
            display none
        
        .tackLoading
            margin-top 100px
        
        .tackContainer
            width 100%
            
        .tackItem
            width 30.5%
            height 0
            padding-bottom 31%
