//
// Button styles
//---------------------------------------------------------

.button,
a.button,
a.button:link,
a.button:visited
    display inline-block
    font-family $livory
    font-size 13px
    text-transform uppercase
    color $white
    background $cranberry
    padding 8px 12px 6px
    transition background .2s

a.button:hover
    background $cranberry-dark
    transition background .2s


// Favorite 'heart' buttons

.button--addFavorite,
.button--removeFavorite
    position absolute
    top 0
    right 0
    width 40px
    height 40px
    color $white
    font-size 20px
    //opacity 1
    cursor pointer
    transition opacity .2s

    // .tackContainer div:hover &,
    // .favoritesItem:hover &
    //     opacity 1
    //     transition opacity .2s

    &:hover
        .fa-heart
            opacity 1
            transition opacity .2s

    .fa
        position absolute
        top 11px
        right 10px

    .fa-heart
        opacity 0
        transition opacity .2s

    &.inFavorites
        opacity 1

        .fa-heart
            opacity 1


// Favorite 'x' button

.button--removeFavorite
    width 30px
    height 30px
    font-size 16px
    background rgba(0, 0, 0, .6)
    opacity 0

    .favoriteItem:hover &
        opacity 1

    .fa
        top 7px
        right 8px
