//
// Button styles
//---------------------------------------------------------

.button,
a.button,
a.button:link,
a.button:visited
    display inline-block
    font-family $livory
    font-style italic
    color $white
    background $cranberry
    padding 5px 10px

a.button:hover
    background $cranberry-dark

