//
// Form element styles
//---------------------------------------------------------

.inputGroup,
.favoritesGroup
    position relative
    overflow hidden
    margin-bottom 20px

.submitGroup
    padding-left 25%

    .button
        width 100%
        text-align center

label,
p.label
    display block
    float left
    width 25%
    font-size 15px
    text-transform uppercase
    color $beige-dark
    padding 10px 0 6px

input[type='text'],
input[type='email'],
textarea
    display block
    width 75%
    font-family $livory
    font-size 15px
    line-height 22px
    border 1px solid $cream-light
    outline none
    padding 8px 25px 7px 12px

    .has-errors &
        border 1px solid $goldenrod

textarea
    height 100px
    resize vertical


// Success messaging

.contactFormContainer

    .fa-check,
    .fa-times
        display none
        position absolute
        top 15px
        right 10px
        font-size 10px
        color green

    .fa-times
        color $goldenrod

    .valid
        .fa-check
            display block

    .invalid
        .fa-times
            display block


// Error messaging

.errors
    display none
    width 75%
    float right
    background $goldenrod
    list-style none
    margin 0
    padding 0

    .invalid &
        display block

    li
        display none
        font-size 12px
        color $white
        padding 7px 10px


+below(400px)

    .inputGroup
        margin-bottom 15px

    .submitGroup
        margin-top 20px
        padding 0

    label,
    p.label,
    input[type='text'],
    input[type='email'],
    textarea,
    ul.options
        width 100%
        float none
        text-align center

    label
        margin-bottom 5px
        padding 0

    ul.options
        li
            float none
            display inline-block

    .errors
        width 100%

    .contactFormContainer
        .fa-check,
        .fa-times
            top 39px
