//
// Form element styles
//---------------------------------------------------------

.inputGroup,
.favoritesGroup
    overflow hidden
    margin-bottom 20px

.submitGroup
    padding-left 25%

    .button
        width 100%
        text-align center

label,
p.label
    display block
    float left
    width 25%
    font-size 15px
    text-transform uppercase
    color $beige-dark
    padding 9px 0 7px

input[type='text'],
textarea
    display block
    width 75%
    font-family $livory
    font-size 15px
    line-height 22px
    border 1px solid $cream-light
    outline none
    padding 8px 12px 7px

textarea
    height 70px
    resize vertical

