//
// Layout styles
//---------------------------------------------------------

*,
*:before,
*:after
    -moz-box-sizing border-box
    -webkit-box-sizing border-box
    box-sizing border-box

html,
body
    margin 0
    padding 0

body
    font-family $livory
    font-size 10px

.center
    width 1200px
    margin 0 auto

.content-container
    padding 30px 0

    body.home &
        padding 0

.outline
    display inline-block
    margin 0
    padding 0
    overflow hidden

    li
        display block
        float left
        font-size 12px
        text-transform uppercase
        color $cranberry-light
        border 1px solid #dcd4cc
        margin 0 2px 4px
        padding 7px 12px
        cursor pointer
        transition all .2s

        &:hover
            border 1px solid $cranberry-light
            transition all .2s

        &.active
            border 1px solid $cranberry-light



+below(1260px)
    .center
        width 100%
        padding 0 30px

+below(768px)
    .center
        padding 0 20px

+below(500px)
    .center
        padding 0 15px