//
// Variable declarations
//---------------------------------------------------------

// Fonts

$livory         = 'Livory'
$monteCarlo     = 'MonteCarlo'
$serifiqo       = 'Serifiqo'


// Colors

$white              = #ffffff;
$cranberry          = #88101d;
$cranberry-light    = #b70014;
$cranberry-dark     = #410a10;
$goldenrod          = #a46118;
$charcoal           = #383838;
$beige              = #b0977c;
$beige-dark         = #7e5f4c;
$cream              = #ffd88c;
$cream-light        = #d6cdbc;
$cream-lighter      = #ebe7e3;
$mist               = #e6e6e6;
$mist-dark          = #a5a5a5;
