footer.global-footer
	.center
		article.social
			a(href='https://www.facebook.com/ArabianFancyTack', class='facebook')
				i.fa.fa-facebook
			p <a href='https://www.facebook.com/ArabianFancyTack'>'Like' Arabian Fancy on Facebook</a> to keep up with all of the latest designs and offerings!

		article.legal
			p &copy; 2014 Arabian Fancy Tack.
			p Website by <a href="http://www.augustahammock.com">Augusta Hammock</a>
