extends ../layouts/main

block content

    .center
        h2.page-title Frequently Asked Questions

        section.questions

            article
                p.question Are your halters strong enough to handle stallions with?
                p Yes. All of our halters are crafted over a strength tested Kevlar-type base. They have been in show rings worldwide and we've never had a halter break under normal use.

            article
                p.question Is your tack show ring legal?
                p Yes. Any Arabian Fancy halter can be made to be show ring legal. All that is needed is the addition of a throat latch, available at no charge upon request. (A standard show lead is required with all  halters, which is not included. Ring size available upon request as sharkstooth chain halters can have various sizes of rings.)

            article
                p.question What is the normal turnaround time for orders?
                p Please allow a minimum of a 2-week turnaround period for custom orders. If you are placing an order for a large show (i.e. US Nationals, World Cup, Egyptian Event, etc), please order at least one month ahead of time.

            article
                p.question What does shipping cost within the US?
                p Regular shipping starts at $15 USD via USPS. Please <a href="#{paths.root}/contact">contact me</a> for expedited shipping costs.

            article
                p.question Do you ship worldwide?
                p Yes. Please allow 2 weeks for Express shipping outside of the US. The normal rate for Express shipping with a tracking number for a single halter is roughly $45 USD via USPS, depending on rates specific to your country.

            article
                p.question Do you create custom orders?
                p Yes! That is my favorite thing to do! I love working with you to design your dream set. The sky is the limit. Let's create something!

            article
                p.question What size are your halters and breast pieces?
                p Custom sizing is standard on all orders. I create each piece with measurements you give me.

            article
                p.question Can I provide beads, gemstones, etc. for my custom order?
                p Yes, as long as they have drilled holes for sewing  and are  well made.

            article
                p.question Do you rent pieces?
                p Yes, through selected photographers. Please <a href="#{paths.root}/contact">contact me</a> for more details.
